.what-do-i-get {
  padding-top: 125px;
  hgroup {
    max-width: 595px;
    h2 {
      color: $blue;
      margin-bottom: 42px;
    }
  }
  .timeline {
    text-align: right;
    padding-top: 88px;
    position: relative;
    &-inner {
      display: inline-block;
      max-width: 645px;
      text-align: left;
      h4 {
        font: 40px/1em $serif;
        color: $blue;
        margin-bottom: 50px;
      }
      .point {
        position: relative;
        margin-bottom: 77px;
        .key {
          position: absolute;
          right: 100%;
          top: 1px;
          margin-right: 14px;
          font-size: 17px;
          letter-spacing: 2.1px;
          font-weight: bold;
        }
        > strong {
          font-size: 17px;
          font-weight: bold;
          letter-spacing: 3.5px;
          color: $blue;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
