.what-will-you-experience {
  position: relative;
  padding-top: 173px;
  .contain {
    position: relative;
    hgroup {
      padding-left: 750px;
      h2 {
        color: $purple;
      }
    }
  }
  &-image {
    width: 100%;
    max-width: 770px;
    position: absolute;
    top: -300px;
    left: -75px;
    &-inner {
      padding-top: 68.1818182%;
      background-size: cover;
    }
  }
  &-content {
    padding-top: 220px;
    .row {
      > div {
        &:nth-child(even) {
          text-align: right;
        }
      }
    }
    .text-block {
      margin-bottom: 139px;
      display: inline-block;
      text-align: left;
      h4 {
        font-size: 0;
        margin-bottom: 30px;
        strong {
          display: inline-block;
          font: 78px/1em $serif;
          text-transform: uppercase;
          vertical-align: middle;
          color: $purple;
          margin-right: 29px;
        }
        em {
          display: inline-block;
          font: bold 17px/1em $sans;
          text-transform: uppercase;
          letter-spacing: 3.5px;
          vertical-align: middle;
        }
      }
      p {
        max-width: 485px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
