.who-is-it-for {
  background: $red;
  position: relative;
  padding-top: 350px;
  padding-bottom: 300px;
  h2 {
    color: $grey;
    max-width: 450px;
  }
  &-content {
    padding-top: 115px;
    .text-block {
      max-width: 525px;
      margin-bottom: 120px;
      h4 {
        font: bold 17px/1em $sans;
        letter-spacing: 3.5px;
        color: $grey;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      p {
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}
