
@font-face {
  font-family: 'Founders Grotesk';
  src: url('fonts/FoundersGroteskText-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/FoundersGroteskText-Regular.woff') format('woff'), url('fonts/FoundersGroteskText-Regular.ttf')  format('truetype'), url('fonts/FoundersGroteskText-Regular.svg#FoundersGroteskText-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('fonts/FoundersGroteskText-Medium.eot?#iefix') format('embedded-opentype'),  url('fonts/FoundersGroteskText-Medium.woff') format('woff'), url('fonts/FoundersGroteskText-Medium.ttf')  format('truetype'), url('fonts/FoundersGroteskText-Medium.svg#FoundersGroteskText-Medium') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Works';
  src: url('fonts/SuisseWorks-Book.eot?#iefix') format('embedded-opentype'),  url('fonts/SuisseWorks-Book.otf')  format('opentype'),
	     url('fonts/SuisseWorks-Book.woff') format('woff'), url('fonts/SuisseWorks-Book.ttf')  format('truetype'), url('fonts/SuisseWorks-Book.svg#SuisseWorks-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
