header {
  height: 1515px;
  max-height: 100vh;
  position: relative;
  .header-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    &-cover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba($blue, 1);
      mix-blend-mode: screen;
    }
  }
  .header-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 160px;
  }
  h1 {
    color: #cff7ef;
    font: 60px/1.3em $serif;
    max-width: 672px;
    margin-bottom: 20px;
  }
  p {
    max-width: 556px;
    font-size: 25px;
    line-height: 1.42em;
    letter-spacing: .5px;
  }
}
